In [1]:
import yfinance as yf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
import sklearn as skl
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report

In [2]:
ticker = yf.Ticker("GOOGL")
hist = ticker.history(period="5y", interval="1d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-05-14 00:00:00-04:00,66.358740,67.545563,65.850170,67.520187,36660000,0.0,0.0
2020-05-15 00:00:00-04:00,67.092242,68.401975,66.631440,68.326340,41544000,0.0,0.0
2020-05-18 00:00:00-04:00,67.755073,69.306653,67.387825,68.929459,47094000,0.0,0.0
2020-05-19 00:00:00-04:00,68.944385,69.293212,68.361175,68.393021,31586000,0.0,0.0
2020-05-20 00:00:00-04:00,69.127500,70.265560,69.040916,70.122742,38262000,0.0,0.0
...,...,...,...,...,...,...,...
2025-05-07 00:00:00-04:00,164.080002,165.000000,147.839996,151.380005,127490100,0.0,0.0
2025-05-08 00:00:00-04:00,155.000000,155.929993,152.899994,154.279999,57498700,0.0,0.0
2025-05-09 00:00:00-04:00,154.169998,155.050003,152.199997,152.750000,32435300,0.0,0.0
2025-05-12 00:00:00-04:00,157.490005,159.100006,156.250000,158.460007,44138800,0.0,0.0
2025-05-13 00:00:00-04:00,158.764999,160.570007,156.160004,159.529999,41857312,0.0,0.0

In [3]:
AAPL_hist = pd.DataFrame(hist)

In [4]:
AAPL_hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-05-14 00:00:00-04:00,66.358740,67.545563,65.850170,67.520187,36660000,0.0,0.0
2020-05-15 00:00:00-04:00,67.092242,68.401975,66.631440,68.326340,41544000,0.0,0.0
2020-05-18 00:00:00-04:00,67.755073,69.306653,67.387825,68.929459,47094000,0.0,0.0
2020-05-19 00:00:00-04:00,68.944385,69.293212,68.361175,68.393021,31586000,0.0,0.0
2020-05-20 00:00:00-04:00,69.127500,70.265560,69.040916,70.122742,38262000,0.0,0.0
...,...,...,...,...,...,...,...
2025-05-07 00:00:00-04:00,164.080002,165.000000,147.839996,151.380005,127490100,0.0,0.0
2025-05-08 00:00:00-04:00,155.000000,155.929993,152.899994,154.279999,57498700,0.0,0.0
2025-05-09 00:00:00-04:00,154.169998,155.050003,152.199997,152.750000,32435300,0.0,0.0
2025-05-12 00:00:00-04:00,157.490005,159.100006,156.250000,158.460007,44138800,0.0,0.0
2025-05-13 00:00:00-04:00,158.764999,160.570007,156.160004,159.529999,41857312,0.0,0.0

In [5]:
recommendations = ticker.recommendations
major_holders = ticker.major_holders
institutional_holders = ticker.institutional_holders
mutualfund_holders = ticker.mutualfund_holders
info = ticker.info  # fundamental company data

In [6]:
recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   40    12     0           0
1    -1m         14   40    12     0           0
2    -2m         15   40    12     0           0
3    -3m         16   37    12     0           0

In [7]:
get_recs = ticker.get_recommendations
ticker.get_recommendations_summary

In [8]:
hist = ticker.history(period="5y", interval="1d")

In [9]:
import pandas_ta as ta
hist["RSI"] = ta.rsi(hist["Close"], length=14)
hist["MACD"] = ta.macd(hist["Close"]).iloc[:, 0]
hist["SMA_20"] = hist["Close"].rolling(20).mean()

In [10]:
# future_days = 5
# threshold = 0.02

# clean_hist['future_return'] = clean_hist['Close'].shift(-future_days) / clean_hist['Close'] - 1

# def label_trade(x):
#     if x > threshold:
#         return 1   # Buy
#     elif x < -threshold:
#         return -1  # Sell
#     else:
#         return 0   # Hold

hist['future_return'] = (hist['Close'].shift(-7) - hist['Close']) / hist['Close']
hist['label'] = (hist['future_return'] > 0.05).astype(int)

In [11]:
hist.tail(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD,SMA_20,future_return,label
Date,,,,,,,,,,,,
2025-04-15 00:00:00-04:00,159.130005,159.649994,155.210007,156.309998,27551500,0.0,0.0,46.169186,-4.087327,157.556001,0.036146,0
2025-04-16 00:00:00-04:00,153.100006,155.889999,151.509995,153.330002,28187400,0.0,0.0,43.506519,-3.967560,157.028001,0.047479,0
2025-04-17 00:00:00-04:00,154.289993,154.679993,148.500000,151.160004,32938500,0.0,0.0,41.624011,-4.001617,156.446001,0.059540,1
2025-04-21 00:00:00-04:00,148.880005,148.949997,146.100006,147.669998,26049100,0.0,0.0,38.722045,-4.261101,155.630001,0.075371,1
2025-04-22 00:00:00-04:00,148.889999,152.190002,148.539993,151.470001,26971800,0.0,0.0,43.352973,-4.112708,154.819501,0.064897,1
2025-04-23 00:00:00-04:00,155.610001,157.529999,153.809998,155.350006,31128800,0.0,0.0,47.699132,-3.640060,154.059002,0.055874,1
2025-04-24 00:00:00-04:00,156.149994,159.589996,155.789993,159.279999,45894000,0.0,0.0,51.738157,-2.914767,153.770002,0.030952,0
2025-04-25 00:00:00-04:00,165.070007,166.100006,161.039993,161.960007,56034000,0.0,0.0,54.328414,-2.099510,153.756002,0.007841,0
2025-04-28 00:00:00-04:00,162.429993,163.149994,158.600006,160.610001,29745800,0.0,0.0,52.791370,-1.544543,154.070002,-0.057468,0
2025-04-29 00:00:00-04:00,160.320007,160.740005,157.520004,160.160004,26809000,0.0,0.0,52.260618,-1.128036,154.346002,-0.036713,0
2025-04-30 00:00:00-04:00,157.979996,159.270004,155.399994,158.800003,34981100,0.0,0.0,50.604716,-0.897347,154.432502,-0.038098,0
2025-05-01 00:00:00-04:00,160.449997,161.949997,158.910004,161.300003,30203200,0.0,0.0,53.520195,-0.506952,154.645502,-0.017607,0
2025-05-02 00:00:00-04:00,163.410004,164.970001,161.869995,164.029999,25715000,0.0,0.0,56.537022,0.022468,155.311002,-0.027434,0
2025-05-05 00:00:00-04:00,163.000000,165.389999,162.720001,164.210007,21341800,0.0,0.0,56.736421,0.451360,156.241502,NaN,0
2025-05-06 00:00:00-04:00,162.169998,164.800003,161.190002,163.229996,21277200,0.0,0.0,55.250274,0.704064,157.065502,NaN,0
2025-05-07 00:00:00-04:00,164.080002,165.000000,147.839996,151.380005,127490100,0.0,0.0,41.197970,-0.051270,157.399503,NaN,0
2025-05-08 00:00:00-04:00,155.000000,155.929993,152.899994,154.279999,57498700,0.0,0.0,44.891929,-0.411133,157.178002,NaN,0
2025-05-09 00:00:00-04:00,154.169998,155.050003,152.199997,152.750000,32435300,0.0,0.0,43.344838,-0.810442,157.174502,NaN,0
2025-05-12 00:00:00-04:00,157.490005,159.100006,156.250000,158.460007,44138800,0.0,0.0,50.237402,-0.658557,157.240502,NaN,0
2025-05-13 00:00:00-04:00,158.764999,160.570007,156.160004,159.529999,41857312,0.0,0.0,51.429850,-0.446698,157.263502,NaN,0

In [12]:
clean_hist = hist.drop(column="future_return")
clean_hist = clean_hist.dropna()
clean_hist.tail()

TypeError: DataFrame.drop() got an unexpected keyword argument 'column'

In [ ]:
# recs = ticker.recommendations
# recs['score'] = recs['To Grade'].map({'Buy': 1, 'Hold': 0, 'Sell': -1}).fillna(0)
# recs_agg = recs.resample('D').mean().rolling(7).mean()
# clean_hist = clean_hist.merge(recs_agg[['score']], left_index=True, right_index=True, how='left')

In [ ]:
clean_hist.info()

In [ ]:
# Separate the target "label" column from the rest of the dataset
y = clean_hist.label.values
X = clean_hist.drop(columns=["label","future_return"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y, test_size=0.5)

In [ ]:
# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
len(X_train)

In [ ]:
len(X_test)

In [ ]:
import shutil

shutil.rmtree('untitled_project', ignore_errors=True)  # or use your custom project name

In [ ]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(
        units=hp.Int('first_units', min_value=1, max_value=10, step=2), 
        activation=activation, input_shape=(X_train_scaled.shape[1],)))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [ ]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
# Print the classification report comparing the testing data to the model predictions
print(classification_report(y_test, y_pred))